* {
    box-sizing: border-box;
  }

   /* Body */ 
  body {
    font-family: Arial;
    margin: 0;
    background-color: #9a8c98;
  }
  
  /* Header */
  .header {
    position: sticky; top: 0;
    background-color: #22223b;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Navigation Bar */
  .topnav {
    overflow: hidden;
    background-color: #4a4e69;
  }
  
  /* Navigation Links */
  .topnav a {
    float: left;
    display: block;
    color: #c9ada7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Hover Colour */
  .topnav a:hover {
    background-color: #c9ada7;
    color: black;
  }
  
  /* Middle column */
  .column.middle {
    width: 100%;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout */
  @media screen and (max-width: 600px) {
    .column.middle .info{
      width: 100%;
    }
  }
    /* Image Styling */
  img {
    border: 5px solid #555;
  }

  /* Footer*/
  .footer {
    background-color: #22223b;
    color: white;
    padding: 10px;
    text-align: center;
  }

  /* Contact Form */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  /* Contact Form Container */
  .container {
    border-radius: 5px;
    background-color: #27415f;
    color: white;
    padding: 10px;
    border: 2px solid;
    width: 800px;
    resize: both;
    overflow: auto;
    margin: auto;
  }
/* Background colour for contact form container */
  .info {
  
    background: #4a4e69;
    width: 100%;
}